
.logo {
    height: clamp(50px, 10vw, 150px);
    width:  clamp(40px, 10vw, 120px);
}

.centeredText {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zeroMarginPadding {
    margin: 0;
    padding: 0;
}

.title {
    font-size: clamp(25px, 5vw, 200px);
    
}

[data-bs-theme='dark'] .navbar {
    background-color: #333; /* Dark mode background color */
  }
  
  /* Default (light mode) */
  [data-bs-theme=''] .navbar {
    background-color: #fff; /* Light mode background color */
  }